*,
*::after,
*::before {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    box-sizing: border-box;
    background: #30332E;
} 


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 20px 0 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
main {
    column-gap: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.box-logo {
    height: 680px;
}

.section-1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 680px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text-area {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
    text-transform: lowercase;
    color: #DCCCA3;
    font-weight: bold;
    margin-top: 65px;
    resize: none;
}
::placeholder { color: #DCCCA3;}
    .text-area:focus {
        outline: none;
    }

.box-information {
    width: -webkit-fill-available;
    height: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.information {
    color: #ffffffff;
    font-size: 18px;
    top: 0px;
}

.rules {
    width: 16px;
    height: -webkit-fill-available;
    margin-right: 5px;
}

.buttons {
    width: -webkit-fill-available;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* BOTÓN ENCRIPTAR */
.btn-encryptar{
    width: 48%;
    height: 52px;
    align-items: center;
    margin-right: 18px;
    padding: 10px;
    background: #7371FC;
    border: none;
    border-radius: 10px;
    color: #ffffffff;
    font-size: 20px;
    font-weight: bold;
}

.btn-encryptar:hover{
    animation-name: btn-encryptar;
        -webkit-animation-name: btn-encryptar;
        -moz-animation-name: btn-encryptar;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
}

@keyframes btn-encryptar {
    0%  {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.btn-encryptar:active {
    background-color: #98D8AA;
}

/* BOTÓN DESENCRIPTAR */
.btn-desencriptar{
    width: 48%;
    height: 52px;
    align-items: center;
    padding: 10px;
    background: #1e2022;
    border: none;
    border-radius: 10px;
    color: #ffffffff;
    font-size: 20px;
    font-weight: bold;
}


.btn-desencriptar:hover{
    animation-name: btn-desencriptar;
        -webkit-animation-name: btn-desencriptar;
        -moz-animation-name: btn-desencriptar;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
}

@keyframes btn-desencriptar {
    0%  {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.btn-desencriptar:active {
    background-color: #98D8AA;
}

/* SECTION 2 */
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 680px;
    background: #7371FC;
    font-weight: bold;
    border: none;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.muñeco-msj {
    background: none;
    opacity: 0.7;
}

.box-text {
    background: none;
}

.title-1 {
    margin-bottom: 0;
    line-height: normal;
    text-align: center;
    background: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffffffff;
}

.subtitle-1 {
    margin-top: 12px;
    line-height: normal;
    text-align: center;
    background: none;
    font-size: 16px;
    color: #ffffffff;
}

.box-msj-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.btn-copy {
    width: 84%;
    position: sticky;
    bottom: 0%;
    left: 0%;
    padding: 10px;
    background: #1e2022;
    border: none;
    border-radius: 10px;
    color: #ffffffff;
    font-size: 20px;
    font-weight: bold;
}

.btn-copy:hover{
    animation-name: btn-copy;
        -webkit-animation-name: btn-copy;
        -moz-animation-name: btn-copy;
    animation-duration: 1s;
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
    animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
}

@keyframes btn-copy {
    0%  {transform: translate(1px, 1px) rotate(0deg);}
    10% {transform: translate(-1px, -2px) rotate(-1deg);}
    20% {transform: translate(-3px, 0px) rotate(1deg);}
    30% {transform: translate(3px, 2px) rotate(0deg);}
    40% {transform: translate(1px, -1px) rotate(1deg);}
    50% {transform: translate(-1px, 2px) rotate(-1deg);}
    60% {transform: translate(-3px, 1px) rotate(0deg);}
    70% {transform: translate(3px, 1px) rotate(-1deg);}
    80% {transform: translate(-1px, -1px) rotate(1deg);}
    90% {transform: translate(1px, 2px) rotate(0deg);}
    100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.btn-copy:active {
    background-color: #98D8AA;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* @MEDIA WIDTH -> 768PX */

@media (max-width: 768px) {
    body {
        height: 100vh;
        overflow: visible;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0px 20px 0px 20px;
    }

    main {
        row-gap: 40px;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    
    .box-logo {
        width: 100%;
        height: -webkit-fill-available;
    }

    /* SECTION 1 */
    .text-area {
        margin-top: 20px;
        height: 49vh;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .btn-encryptar {
        margin-top: 0;
    }

    .btn-encryptar:hover{
        animation: none;
    }

    .btn-desencriptar:hover{
        animation: none;
    }

    /* SECTION 2 */

    .section-2 {
        width: 100%;
        height: 100%;
    }

    .mensaje {
        width: 711px;
        height: 231px;
        margin: 50px 20px 20px 20px;
    }

    .title-1 {
        position: static;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .subtitle-1 {
        position: static;
        width: 100%;
        margin-top: 0px;
    }

    .box-msj-elements {
        top: 50%;
    }

    .box-msj-button {
        bottom: 8%;
        left: 50%;
    }

    .btn-copy {
        width: 88%;
        position: static;
    }

    .muñeco-msj {
        display: none;
    }

    .footer {
        height: 100px;
    }

}




/* @MEDIA WIDTH -> 375PX */

@media (max-width: 376px) {
    body {
        height: 100vh;
    }

    main {
        height: 100vh;
        margin-top: 0;
    }

    header {
        width: -webkit-fill-available;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-logo {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .logo {
        margin: 0;
    }

    /* SECTION 1 */
    .section-1 {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }

    .text-area {
        margin-top: 0px;
        width: -webkit-fill-available;
        height: 320px;
    }

    .buttons {
        display: flex;
        justify-content: center;
    }

    .btn-encryptar {
        height: 60px;
    }
    
    .btn-encryptar:hover{
        animation: none;
    }

    .btn-desencriptar {
        height: 60px;
    }

    .btn-desencriptar:hover{
        animation: none;
    }

    /* SECTION 2 */
    .section-2 {
        display: flex;
        width: -webkit-fill-available;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .mensaje {
        width: -webkit-fill-available;
        height: 200px;
        background: #7371FC;
        margin: 30px 0px 0px 0px;
    }

    .title-1 {
        position: static;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .subtitle-1 {
        position: static;
        width: 100%;
        margin-top: 0px;
    }

    .box-msj-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        width: 100%;
        position: absolute;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-copy {
        width: 88%;
        position: static;
    }

    .muñeco-msj {
        display: none;
    }

}